* {
  /*border: red solid 2px;*/
  box-sizing: border-box;
  text-align: center;
}

body {
  background: white;
}

main {
  padding: 32px;
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: 600;
}

.searchinput {
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(103, 141, 163, 0.16850490196078427) 100%
  );
  color: #4e4e4e;
  text-align: center;

  padding: 80px 32px;
}

input {
  width: 100%;
  border-radius: 4px;
  font-size: 16pt;
  padding: 12px;
  text-align: left;
  border-style: solid;
  border-color: lightgray;
  border-radius: 8px;
  color: #a9a9a9;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

img {
  max-height: 130px;
  max-width: 130px;
}

.lb-cancel {
  background: url(../js/lightbox/loading.gif) no-repeat;
}

.lb-nav a.lb-prev {
  background: url(../js/lightbox/prev.png) left 48% no-repeat;
}

.lb-nav a.lb-next {
  background: url(../js/lightbox/next.png) right 48% no-repeat;
}

.lb-data .lb-close {
  background: url(../js/lightbox/close.png) top right no-repeat;
}

.lb-data .lb-caption {
  font-size: 16px;
}

/*********************************
  * BREAKPOINTS
  *********************************/
  
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 1024px) {
    
  }