* {
  /*border: red solid 2px;*/
  box-sizing: border-box;
  text-align: center;
}

body {
  background: white;
}

main {
  padding: 32px;
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: 500;
}

.searchinput {
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

header {
  
  color: #0f4c81;
  text-align: center;

  padding: 80px 32px;
}

input {
  width: 100%;
  font-size: 16pt;
  padding: 12px;
  text-align: left;
  border-style: solid;
  border-color: #efefef;
  border-radius: 12px;
  color: #a9a9a9;
  transition: .5s all;
}

::placeholder {
  color: #ababab;
}

input:hover {
  border-color: #0f4c81;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

img {
  max-height: 130px;
  max-width: 130px;
}

.lb-cancel {
  background: url(../js/lightbox/loading.gif) no-repeat;
}

.lb-nav a.lb-prev {
  background: url(../js/lightbox/prev.png) left 48% no-repeat;
}

.lb-nav a.lb-next {
  background: url(../js/lightbox/next.png) right 48% no-repeat;
}

.lb-data .lb-close {
  background: url(../js/lightbox/close.png) top right no-repeat;
}

.lb-data .lb-caption {
  font-size: 16px;
}

/*********************************
  * BREAKPOINTS
  *********************************/
  
  @media (min-width: 768px) {
    .searchinput {
      display: flex;
      justify-content: center;
      padding-bottom: 48px;
    }
    input {
      max-width: 360px;
    }
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    img {
      max-width: 200px;
      max-height: 200px
    };
  }
  
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .wrapper {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }